	/*main-propertiesproperties*/
body, html{
width: 100%;
height: 100%;
}
.container{
max-width: 1170px;
margin: 0px auto;
width: 100%;
}
h3{
	color: #000;
	font-size: 24px
}
	/*end-of-main-properties*/
	/*header-properties*/
.header{
	padding: 20px 0;
	top: 0;
	left: 0;
	width: 100%;
}
.logo{
	width: 200px;
}
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-ul{
	display: flex;
}
.nav-li{
	margin-right: 17px;
	font-size: 26px;
}
.last{
	margin-right: 0px;
}
.burger{
	display: none;
	font-size: 26px
}
.social-ul{
	display: flex;
}
.social-li{
	margin-right: 17px;

}
.social{
	height: 30px;
}
.social-li::after{
	content: "";
	width: 2px;
	height: 26px;
	display: inline-block;
	background: #3D58A6;
	margin: 0 19px;
}
.fab{
	font-size: 30px;
	color: #3D58A6;
}
	/*end-of-header-properties*/
	/*banner-properties*/
.banner-bg{
	background: #E6E6E6;
	padding:30px 0;
}
.banner{
	position: relative;
	background-image: url(../img/banner.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    max-width: 1170px;
	height: 460px;
    margin: 0px auto;

}
.banner-contant{
	position: absolute;
	bottom: 20px;
	left: 30px;
	font-size: 30px
}
.banner-contant h2{
	color: #fff;
	text-transform: uppercase;

}
.html{
	position: absolute;
	bottom: 20px;
	right: 30px;
	width: 100px;

}
	/*end-of-banner-properties*/
	/*blue-bg*/
.blue-bg{
	background: #363E97;
	padding:25px 0 90px 0;
}

.video-wraper{
	display: flex;
	justify-content: space-between;
	padding-top:20px;
}
.video{
	height: 320px;
	width: 570px;
	background-color: #fff;
}
.video iframe{
	width:100%;
	height: 100%;
}
	/*end-of-blue-bg*/
	/*News-properties*/
.news{
	background: #BDCCD4;
	padding:25px 0 90px 0;
}
.news-contant{
	display: flex;
	justify-content: space-between;
	padding-top:20px;
}

.img{
	bottom: 20px;
	right: 30px;
	width: 270px;
	height: 210px;
}
.title-contant{
	display: flex;
	justify-content: space-between;

}
.title{
	background-color: #E6E6E6;
	width: 270px;
	height: 60px;
	font-size: 22px;
	text-transform: uppercase;
	padding: 20px 15px;

}	
	/*End-Of-News-properties*/
	/*Featured-properties*/
.grey-bg{
	background: #E6E6E6;
	padding:30px 0;
}
.wraper{
	margin-top:20px;
}
.box-image{
	height: 130px;
	margin:10px 10px 0 0;
}
.text-image-wraper{
	background: #F2F2F2;
	margin-right: 10px;
	padding:20px;
}
.text-image-wraper:last-child{
	margin-right: 0;
}
.wraper-box{
	
	display: flex;
	align-items: center;
	font-size: 20px;
}
.read-more{
	text-align: right;
	padding-top: 20px;
}
.text{
	margin-left: 50px;
	padding-top: 10px;
}

	/*footer-bg-properties*/

.footer{
	padding: 25px 0;
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
